.container.contact-us-container {
  padding-top: 36px;
}
.section-heading.contact-us-heading{
  margin-left: auto;
  margin-right: auto;
  max-width: 131px;
  @media screen and (min-width: $tablet) {
    max-width: 168px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 224px;
    text-wrap: nowrap;
  }
}
.address-wrap {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.contacts-name {
  text-align: justify;
  font-family: "Fira Sans";
  font-size: 16px;

  letter-spacing: -0.64px;
  margin-bottom: 8px;
}
.contacts-contact-link {
  font-family: "Fira Sans";
  text-align: start;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.address-data{
  display: flex;
  flex-direction: column;
}
.address-socials {
  display: flex;
  gap: 8px;
  
}
.social-link{
    padding: 12px;
}

.contacts-grid{
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}