.container.contact-form-container {
  padding-bottom: 36px;
}
.contact-form {
  display: flex;
  flex-direction: column;

  background: #eaedf1;
  padding: 36px 12px;
  gap: 28px;
  text-align: justify;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  & input,
  .text-area {
    position: relative;
    background: none;
    border: none;
    padding: 10px;
  }
}
.input-field-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #97d28b;
  }
}
.input-label {
  position: relative;
}
.text-area {
  height: 124px;
  resize: none;
  text-align: justify;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}
.error-msg {
  color: red;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
}
.submit-btn {
  display: flex;
  gap: 12px;
  margin-right: 0;
  margin-left: auto;
  background: none;
  border-radius: 500px;
  border: 1px solid #97d28b;
  padding: 4px 4px 4px 16px;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: #173d33;

  font-family: "Fira Sans";
  font-size: 16px;

  line-height: 18px;
  letter-spacing: -0.64px;
  background-image: linear-gradient(90deg, #dcefd8 50%, transparent 51%);
  background-size: 100px 100px;

  background-position: -50px -50px;

  background-repeat: no-repeat;
  transition: all ease 0.8s;
  cursor: pointer;
  &:hover {
    background-size: 200% 200%;

    background-position: 0px 0px;

    color: #173d33;
  }
}
.submitted {
  width: 100%;
  transition: width 0.5s ease-out;
}
