.container.footer-container {
  position: relative;
  margin-top: 36px;
  padding-bottom: 51px;
}
:where(footer) .contacts-contact-link {
  font-size: 16px;
}
.footer-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(20px, auto);
  // gap: 20px;
  padding-top: 28px;
  font-size: 16px;
  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo logo socials"
      "location email copyright";
    // justify-items: center;
    align-items: start;
    & .company-link {
      grid-area: logo;
    }
    & .socials-contact {
      grid-area: socials;
    }
    & .address-contact {
      grid-area: location;
    }
    & .email-contact {
      grid-area: email;
    }
    & .copyright {
      grid-area: copyright;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 1px;
    background: #97d28b;
  }
  & .address-contact,
  .email-contact {
    display: grid;
  }
  & .socials-contact .address-socials {
    justify-content: center;
  }
  & .address-map,
  .address-email {
    align-items: center;
  }
}

// .footer-logo-wrap {
//   position: relative;
//   display: flex;
//   align-items: baseline;
//   justify-content: space-between;

// }
.footer-link {
  position: absolute;
  top: 28px;
  right: 0;
  width: 32px;
  height: 32px;
  display: inline-flex;
  border-radius: 500px;
  background: #97d28b;
  
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: rotate(-90deg);
  transition: scale 0.3s;
  &:hover{
    scale: 1.2;
  }
}

.copyright {
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-top: 16px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    margin-top: 0px;
  }
}
