header {
  position: fixed;
  // width: 100%;
  background: #f3f5fa;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}
.container.header-container {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (min-width: $tablet) {
    & .contact-btn {
      margin-left: 12px;
    }
  }
}

.company-link {
  text-decoration: none;
  // display: flex;
  align-items: baseline;
  font-family: "CA Saygon Text", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 33px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.32px;
}
.company-span {
  display: inline-block;
  font-family: "CA Saygon Text", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.4px;
  width: 60px;
  align-self: flex-end;
}
.menu-btn {
  border: none;
  border-radius: 50%;
  background: #dcefd8;
  display: inline-flex;
  height: 39px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  margin-right: 0;
  margin-left: auto;
}
