header{
    position: fixed;
    width: 100%;
    background: #f3f5fa;
    z-index: 1;
}
.container.header-container {
  display: flex;
  align-items: baseline;
  position: relative;

}

.header-link {
  text-decoration: none;
  display: flex;
  align-items: baseline;
  font-family: "CA Saygon Text", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 33px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.32px;
}
.header-span {
  font-family: "CA Saygon Text", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.4px;
  width: 60px;
  align-self: flex-end;
}
.menu-btn {
  border: none;
  border-radius: 50%;
  background: #dcefd8;
  display: inline-flex;
  height: 39px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  margin-right: 0;
  margin-left: auto;
}
