.container.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 222px;
  padding-bottom: 24px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 1px;
    background: #97d28b;
  }
}
.hero-text {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.hero-heading-wrap {
  @media screen and (min-width: $tablet) {
    width: 39%;
  }
}

.hero-text-wrap {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    width: 44%;
  }
}
.heading.section-heading {
  // margin-top: 50%;

  font-family: "Oswald";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 100% */
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 48px;
    /* 100% */
  }
  @media screen and (min-width: $desktop) {
    font-size: 64px;
      line-height: 64px;
  }
}
.paragraph {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-style: normal;

  line-height: normal;
  letter-spacing: -0.64px;
  @media screen and (min-width: $tablet) {
    text-align: justify;
  }
}
.hero-link {
  display: inline-flex;
  margin: 24px auto 0;
  align-items: center;
  gap: 12px;
  border-radius: 500px;
  border: 1px solid #97d28b;
  padding: 4px 4px 4px 16px;
  font-family: "Fira Sans", sans-serif;

  font-size: 16px;
  line-height: 18px;
  /* 112.5% */
  letter-spacing: -0.64px;
  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}
.link-arrow_wrap {
  border-radius: 50%;
  background: #97d28b;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.separator {
  height: 1px;
  width: 100%;
  background: #97d28b;
  margin: 24px 0px;
}
// .contact-link {
//   font-family: "Fira Sans", sans-serif;
//   font-size: 16px;
//   letter-spacing: -0.64px;
//   text-align: center;
//   font-style: normal;
//   display: block;
// }
